#heading{
    color : red;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(249, 249, 249);
    margin: -8px -8px 24px;  
    .logo-container{
        margin-left: 24px;
        img{
            width: 80px;
            height: 80px;
        }
    }
    
    .nav-items{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 24px;
                font-size: 20px;
            }
        }
        .login-btn{
            cursor: pointer;
        }
    }
}

.action-bar{
    display: flex;
    gap: 24px;
}

.search{
    margin: 8px 0;
    display: flex;
    gap: 8px;
    .search-input{
        border-radius: 6px;
        border: 1px solid rgb(149, 147, 147);
    }
    .search-btn{
        border: 1px solid rgb(228, 227, 227);
        padding: 6px 8px;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
    }
}

.filters{
    font-size: 22px;
    font-weight: 800;
    margin: 8px 0;
    .filter-btn{
        border: 1px solid rgb(228, 227, 227);
        padding: 6px 8px;
        border-radius: 6px;
        font-size: 16px;
        &.active{
            border: 1px solid rgb(228, 131, 4);
            color: rgb(228, 131, 4);
        }
    }
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a{
        color: black;
        text-decoration: none;
    }
    
    .res-card{
        width: 200px;
        padding: 8px;
        border-radius: 6px;
        .res-logo{
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 6px;
        }
        &:hover{
            box-shadow: 2px 2px 8px 1px #c5c3c3;
            cursor: pointer;
        }
    }
}



.shimmer-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .shimmer-card{
        height: 350px;
        width: 200px;
        padding: 8px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 12px;
        flex-direction: column;
        .shimmer {
            background: linear-gradient(
              90deg,
              #e0e0e0 25%,
              #f0f0f0 50%,
              #e0e0e0 75%
            );
            background-size: 200% 100%;
            animation: shimmer 1.5s infinite;
            border-radius: 4px;
        }
        .image {
            width: 100%;
            height: 150px;
            border-radius: 8px;
        }
        
        .text {
        height: 20px;
        }
        
        .title {
        width: 60%;
        }
        
        .subtitle {
        width: 40%;
        }
        
        .small {
        width: 80%;
        height: 16px;
        }
    }
}

.footer{
    margin-top: 48px;
    background:rgb(249, 249, 249);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-top{
        font-size: 24px;
    }
    .footer-bottom{
        border-top: 1px solid grey;
        padding-top: 12px;
    }
}

/* about-page */
.user-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 16px;
    .photo{
        height: 120px;
        width: 120px;
        border-radius: 100%;
    }
}